@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.title {
    font-family: 'Serendius';
    justify-self: start;
    transition: transform .3s ease;
}

.title span {
    font-family: 'Serendius';
    color: rgb(6, 255, 56);
}

.hide {
    display: none;
}