@font-face {
    font-family: 'Serendius';
    src: url('../fonts/Serendius-ajjo.otf');
}

header {
    background-color: rgb(65, 15, 111);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-weight: bold;
}

.title:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.timer, .counter {
    font-size: 30px;
}

.timer {
    justify-self: center;
}

.counter {
    justify-self: end;
    background-color: rgb(6, 255, 56);
    color: rgb(65, 15, 111);
    padding: 0 10px;
    border-radius: 50%;
    transition: all .3s ease;
    position: relative;
}

.counter:hover {
    cursor: pointer;
    /* transform: scale(1.05); */
    background-color: rgb(0, 225, 45);
}