.img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.img:hover {
    cursor: url('../imgs/cursor.png') 50 50, auto;
}

.selection {
    background-image: url('../imgs/selection.png');
    width: 100px;
    height: 100px;
    position: absolute;
}

.drop-down-selection {
    position: absolute;
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.813);
    z-index: 1;
}

.drop-down-selection:hover {
    cursor: pointer;
}

.drop-down-selection p {
    padding: 10px;
    transition: .3s ease;
}

.drop-down-selection p:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.drop-down-selection p:nth-child(3) {
    border-radius: 0 0 10px 10px;
}

.drop-down-selection p:hover {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 1.04rem;
}

.character1 {
    position: absolute;
    top: 50%;
    right: 50%;
}

.character2 {
    position: absolute;
    top: 50%;
    right: 50%;
}

.character3 {
    position: absolute;
    top: 50%;
    right: 50%;
}

.message {
    position: fixed;
    top: 100px;
    left: 50%;
    background-color: white;
    padding: 10px 20px;
    transform: translateX(-50%) translateY(-100px);
    border-radius: 10px;
    transition: transform .4s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}

.show-message {
    transform: translateY(0px) translateX(-50%);
}

.found-message {
    background-color: rgb(0, 255, 0);
}

.miss-message {
    background-color: rgb(255, 0, 0);
}

.finished-time {
    display: flex;
    justify-content: space-around;
    width: 500px;
    position: fixed;
    text-align: center;
    top: 50vh;
    left: 50%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: transform .3s ease-in-out;
}

.finished-time:hover {
    cursor: auto;
}

.show-finished-time {
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.finished-time h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.finished-time p {
    font-size: 30px;
}

.continue-btn {
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    font-size: 20px;
    transition: .3s ease-in-out;
}

.continue-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#name {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}