.level-card {
    margin-top: 40px;
    background-color: white;
    border-radius: 50px;
    /* padding: 50px; */
    width: 700px;
    height: 640px;
    display: flex;
}

.level-img {
    height: 100%;
    border-radius: 50px 0 0 50px;
}

.level-info {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.level-info h2 {
    margin-top: 30px;
}

.start-btn {
    margin: 20px 0;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    transition: transform .3s ease;
}

.start-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}